{% extends "base.html" %}
{% load static %}

{% block title %}FavoritosBR - Início{% endblock %}

{% block content %}
<header class="site-header">
    <div class="header-text">
        <h1>🎬 Bem-vindo ao FavoritosBR</h1>
        <p>Um espaço para descobrir, curtir e favoritar os melhores filmes brasileiros!</p>
        <p>Navegue pelo menu para explorar filmes, adicionar aos seus favoritos e conhecer mais sobre o cinema nacional.</p>
        <p>Esse site está em desenvolvimento para a matéria Projeto de Software, sinta-se livre para fornecer feedbacks.</p>
    </div>
</header>

<main>
    <h2>Criadores</h2>

    <section class="criadores">
        <div class="criador">
            <img src="{% static 'baseFilmes/img/hannah.png' %}" alt="Hannah">
            <p>Hannah</p>
        </div>
        <div class="criador">
            <img src="{% static 'baseFilmes/img/marcele.png' %}" alt="Marcele">
            <p>Marcele</p>
        </div>
        <div class="criador">
            <img src="{% static 'baseFilmes/img/rafael.png' %}" alt="Rafael">
            <p>Rafael Paz</p>
        </div>
        <div class="criador">
            <img src="{% static 'baseFilmes/img/lucas.png' %}" alt="Lucas">
            <p>Lucas</p>
        </div>
    </section>
</main>
{% endblock %}
